<div class="row">
	<div class="col-md-4">
		<h2>Post your Workshop</h2>
		<tool-edit 
			tool="toolPageCtrl.editedTool"
			save="toolPageCtrl.saveTool(editedTool)"
		/>
	</div>
	<div class="col-md-8 " >
		<div ng-repeat="(key, value) in toolPageCtrl.tools | groupBy: 'categories'">
				<div class="col-xs-12 ">
					<h4 class="category-head">{{ key }}</h4>	
				</div>

			<tool-item 
				ng-repeat="tool in value" 
				tool="tool" 
				delete="toolPageCtrl.deleteTool(toolToDelete)"
				update="toolPageCtrl.updateTool(toolToUpdate)"
			/>
		</div>
	</div>
</div>
