
footer {
	position: fixed;
	bottom: 10px;
	text-align: center;
}

.nav {
	background-color: #111111;
}

.container-fluid {
	width: 95%;
	color: #FF4100;
}

.tool-item-panel {
	border: 2px solid;
	border-color: #FF4100;
}


.tool-checked {

	height: 66px;
	color: white;
}

.category-head {
	color: white;
	background-color: #FF4100;
	text-align: center;
}

.strike {
	text-decoration: line-through;
}


flashes {
	position: fixed;
	bottom: 0;
	z-index: 20000;
}


flashes .alert.ng-enter {
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    transform: translate(-200px, 0);
}

flashes .alert.ng-enter-active {
  transform: translate(0, 0);
}

flashes .alert.ng-leave {
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  
  transform: translate(0, 0);
}

flashes .alert.ng-leave-active {
    transform: translate(-200px, 0);
}